$colorbackground:rgb(10,10,10);
// pas utilisé encore :
$colorprimary: #eeeeee;
$colorsecondary: rgb(20,20,20);
$colortertiary: #99E2D0;
$colorgreytext1: #999898;
$colortextblack: #111111;
$shadowmobile: 0px 0px 10px darkgrey;
$shadowbox:1px 5px 18px white; //à priori il s'en cogne des couleurs
$textshadow:grey;